ShowcaseDataWinter2023/
pbi_attempts.pbix
.ipynb_checkpoints/notes-checkpoint.txt
.ipynb_checkpoints/CarMax-checkpoint.ipynb
.ipynb_checkpoints/CarMax-checkpoint.ipynb
.ipynb_checkpoints/CarMax-checkpoint.ipynb
.ipynb_checkpoints/CarMax-checkpoint.ipynb
.ipynb_checkpoints/CarMax-checkpoint.ipynb
.ipynb_checkpoints/CarMax_KNN-checkpoint.ipynb
.ipynb_checkpoints/Recommender_attempt-checkpoint.ipynb
